@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,600;1,800&display=swap');



body {
    
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #7A7A7A;
}

.logomarca{
    position: absolute;
    top:50px; 
    left:50px;
    width: 15%;
}

.presentationBox {
    background-image: url(imagens/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    display: flex; 
    background-size: 100%;
    flex-direction: column;
    height: 1000px;
}

.headTitle {
    text-align: justify;
    color:#7A7A7A;
    font-size: 25px;
    margin: 400px 575px 0px;
}

.headSubtitle {
    text-align: justify;
    color:#7A7A7A;
    font-size: 15px;
    margin: 20px 650px;
}

main {
    background-image: url(imagens/Brain.jpg);
    background-size: 25%;
    color: #7A7A7A;
    background-repeat: no-repeat;
    background-attachment:local;
    background-position: right;
    background-position: 1000px 200px;
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-size: 100%;
}

.therapyBoxTitle {
    margin-top: 50px;
    margin-left: 100px;
    font-size: 25px;
}


.tccTitle{
    margin-left: 100px;
    font-size: 25px;
}

.psychoTitle {
    margin-left: 100px;
    font-size: 25px;
}


.therapyText {
    text-align: justify;
    width: 600px;
    border: 1;
    font-size: 15px;
    display: block;
    margin: 100px;
    margin-top: 20px;
}

.tccText {
    text-align: justify;
    width: 600px;
    border: 1;
    font-size: 15px;
    display: block;
    margin: 100px;
    margin-top: 20px;
}

.psychoText {
    text-align: justify;
    width: 600px ;
    border: 1;
    font-size: 15px;
    display: block;
    margin: 100px;
    margin-top: 20px;
}

article {
    background-image: url(imagens/foto\ perfil\ karina.jpg);
    background-color: #e0f7fc;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: left;
    background-size: 50%;
    color: #7A7A7A;
    height: 1000px;
}


.aboutMeTitle {
    padding-top: 250px;
    padding-left: 1000px;
    font-size: 35px;
    text-align: left;
    height: 300px;
}

.aboutMeText {
    font-size: 18px;
    text-align: left;
    width: 500px;
    height: 90px; 
    border: 1px;
    margin: 0 1000px;
    
}

h1.feed{
    margin-left: 620px;
    color: #7A7A7A;
    font-size: 50px;
}

.instagramFeed {
    
     
}

#social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid;
    margin-bottom: 25px;
    padding-bottom: 15px;
    font-size: 60px;
    justify-content: space-evenly;
}

.copyrightText{
    text-align: center;
    color: #7A7A7A;
}